@import './globalStyles.css';

.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: 100vh;
  max-width: 1400px;
}

@media screen and (max-width:568px) {
  .App {
    flex-direction: column;
  }
}