* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

:root{
    --black:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
    --nav-collor:rgb(126, 62, 62);
    
}